/* Resets predefined stylings on most elements. Border-box allows us to include the padding and border in an element's total width and height. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add Font type */
body {
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}
